*{
    padding: 0;
    margin: 0;
}
body, html {
    background-color: rgb(189, 136, 238);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
  
    
}
#black{
    color: black;
}